.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.port-item{
    background:#1d1d45;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--trans);
    margin: 2rem;
}
.port-item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.port-img{
    border-radius: 1.5rem;
    overflow: hidden;
}

.port-item h3{
    margin: 1.2rem 0 2rem; 
}
.port-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:600px){
    .portfolio-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        height: 100vh;
    }
    .port-item{
        margin: 1rem 0;
    }
}