footer {
  background: var(--color-primary);
  padding: 3rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
footer a {
  color: var(--color-bg);
}
.footer-logo {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.fs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.fs a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.fs a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.cpw {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

@media screen and (max-width: 600px) {
  footer {
    margin-top: 400px;
  }
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .fs {
    margin-bottom: 2.6rem;
  }
}
@media screen and (max-width: 380px) {
  footer {
    margin-top: 550px;
  }
}
